<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tuyen</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Nam</td>
            <td>22</td>
        </tr>
        <tr>
            <td>Viet</td>
            <td>22</td>
        </tr>
    </tbody>
</table>
<a href="~/Views/Demo/CustomeDirective.component.cshtml">~/Views/Demo/CustomeDirective.component.cshtml</a>