
@{
    ViewData["Title"] = "TestWebApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section angularSC{
    <script src="~/angularjs/getDataWebApi.js"></script>
}
<br />

<div ng-app="MyApp">
    <div ng-controller="myController">
        <br />
        <div>
            Search: <input ng-model="searchString" type="text"/>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in listEmp| filter:searchString">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.status|boolStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
